<div class="container">
  <h2>Создание митапа</h2>
  <form [formGroup]="createMeetupForm" (submit)="onSubmit()">
    <div class="form">

      <div class="form-line">
        <label class="form-label" for="heading">Название: </label>
          <input class="unset-input input form-input" type="text" id="heading" formControlName="name">

      </div>

      <div class="date-time">
        <!--      <label for="m-date">Дата:-->
        <!--        <input class="unset-input input" type="date" id="m-date" formControlName="m_date">-->
        <!--      </label>-->
        <label for="m-time">Дата и время:</label>
          <input class="unset-input input" type="datetime-local" id="m-time" formControlName="time">

        <label class="duration" for="m-duration">Продолжительность (мин):</label>
          <input class="unset-input input" type="text" id="m-duration" formControlName="duration">

      </div>

      <div class="form-line">
        <label for="venue">Место:</label>
          <input class="unset-input input" type="text" id="venue" formControlName="location">

      </div>

      <div class="form-line">
        <label for="description">Описание:</label>
          <textarea maxlength="250" class="unset-input input" name="" id="description" cols="30" rows="5"
                    formControlName="description"></textarea>

      </div>
      <div class="form-line">
        <label for="target-aud">Целевая аудитория:</label>
          <textarea maxlength="250" class="unset-input input" name="" id="target-aud" cols="30" rows="3"
                    formControlName="target_audience"></textarea>

      </div>
      <div class="form-line">
        <label for="need-to-know">Что нужно знать: </label>
          <textarea maxlength="250" class="unset-input input" name="" id="need-to-know" cols="30" rows="3"
                    formControlName="need_to_know"></textarea>

      </div>

      <div class="form-line">
        <label for="will_happen">Что планируется:</label>
          <textarea maxlength="250" class="unset-input input" name="" id="will_happen" cols="30" rows="3"
                    formControlName="will_happen"></textarea>

      </div>

      <div class="form-line">
        <label for="reason_to_come">Зачем посещать:</label>
          <textarea maxlength="250" class="unset-input input" name="" id="reason_to_come" cols="30" rows="3"
                    formControlName="reason_to_come"></textarea>

      </div>

      <button class="ax-button btn btn-local" type="submit">Создать митап</button>
    </div>
  </form>
</div>
