.create-meetup-link {
  background-color: var(--accent-text-color);
  color: var(--main-text-color);
  border-radius: 5px;
  padding-inline: 15px;
  padding-block: 10px;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
}

.create-meetup-link:hover,
.create-meetup-link:active {
  background-color: var(--accent-color-violet)
}

app-edit-meetup {
  display: none;
}


