form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-form {
  display: grid;
  //text-align: center;
  width: 342px;
  row-gap: 26px;
}

.button-link {
  display: flex;
  justify-content: space-between;
}

.input-local {
width: 342px;
}
