form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-form {
  display: grid;
  //text-align: center;
  width: 342px;
  row-gap: 26px;
}

.input-local {
  width: 342px;
}

.register-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

input.ng-touched.ng-invalid {
  border-color: var(--accent-color-orange);
}

.validation-error {
  padding: 0;
  margin: 0;
}

.validation-error > span {
  color: var(--accent-color-orange);
  font-size: 0.7rem;
}
